<!DOCTYPE html>
<html class="no-js" lang="">
	<head>
	<title> VueApp </title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

	<link rel="Stylesheet" type= "text/css" href="styleApp.css">
	</head>
	<body>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!--Contenedor de Api-->
		<div id="app">
			<!--Barra de navegacion-->
				<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
					<a class="navbar-brand" href="#">UESOCC - Victoria Castro</a
  				<form class="form-inline my-2 my-lg-0">
    				<input class="form-control mr-sm-2" type="text" placeholder="Buscar cliente...">
    				<button class="btn btn-success" type="submit">Buscar</button>
  				</form>
				</nav> <!--Fin barra de navegacion-->
				<!--CustomRange-->
				<div class="container mt-3">
					<div class="row">
              <div id="clientes" class="col-sm-12 col-md-4">
								<label for="customRange">Obtener los clientes: {{cantidad}}</label>
    						<input type="range" class="custom-range" max="20" min="3" v-model="cantidad">
								<button class="btn btn-primary" v-on:click="obtenerClientes">Obtener</button>
							</div><!--Fin div Clientes-->
						</div><!--Fin div row-->
					</div><!--Fin CustomRange-->
						<!--Info del cliente-->
						<div id="infoCli" class="row mt-3">
            	<div class="col-xs-12 col-sm-12 col-md-3" id="unCliente" v-for="(cliente, conta) in clientes">
              	<img v-bind:src="cliente.picture.large">
              	<h4 >Cliente: {{cliente.name.first}}</h4>
								<h4 v-if="apellido">Apellido: {{cliente.name.last}}</h4>
								<h4 v-if="genero">Genero: {{cliente.gender}}</h4>
								<h4 v-if="ciudad">Ciudad: {{cliente.location.city}}</h4>
              	<button  class="btn btn-success" @click="aceptarCliente(conta)">Aceptados</button>
								<button  class="btn btn-danger" @click="rechazarCliente(conta)">Rechazados</button>
            	</div>
          </div><!--Fin Info del cli-->

				<!--Filtrado-->
				<div id="filtro" class="col-sm-12 col-xs-12 col-md-4">
					<label class="label label-primary col-lg-12">Información:</label>
          	<div class="col-sm-4 col-xs-6"><!--div1-->
            	<div class="input-group checkbox  "><!--div2-->
              	<label for="">
                <input id="genero" type="checkbox" @click="filInfo" class="checkbox" value="genero" checked="checked">Genero</label>
            	</div><!--div2-->
						</div><!--div1-->
					<div class=" col-sm-4 col-xs-6"><!--div1-->
            <div class="input-group checkbox "><!--div2-->
              <label for="">
                <input id="ciudad" type="checkbox" @click="filInfo" class="checkbox" value="cuidad" checked="checked">Cuidad</label>
            </div><!--div2-->
					</div><!--div1-->
				
					<div class=" col-sm-4 col-xs-6"><!--div1-->
						<div class="input-group checkbox "><!--div2-->
							<label for="">
								<input id="apellido" type="checkbox" @click="filInfo" class="checkbox" value="apellido" checked="checked">Apellido</label>
						</div><!--div2-->
					</div><!--div1-->





	</div> <!--Fin contenedor de Api-->

		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script type="text/javascript" src="mainApp.js"></script>


	</body>
</html>
