body {
font-family: sans-serif;


}

#unCliente{
  caret-color: : #088A29;
}
#infoCli {
  padding: 5px 5px;
  border-color: black;
  border: 10px;
}
#infoCli button{
  display: inline-block;
}
#filtro{


}
 input #filtro {
  display: inline-block;
}
